/* GroupServer Standard Stylesheet
 * 
 * -- Michael JasonSmith (mpj17) 2012
 *
 */

/* For now just import the Bootstrap CSS */
@import url('/++resource++bootstrap-2.3.0/css/bootstrap.min.css');

/******************************/
/* GroupServer Typeface Setup */
/******************************/
/* http://alistapart.com/article/fluidgrids */

.small {
    font-size: 14px;
    line-height: 1.429; /* 20px */
}

.muted pre, pre.muted {
    color: #999999;
}

a, a:hover, a:focus, a:visited {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4 {
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}
    /* If I use a code in a heading I want it to look like the heading .*/
h1 cite, h2 cite, h3 cite, h4 cite {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
h1 code, h2 code, h3 code, h3 code, h4 code {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    border: inherit;
    background: inherit;
}

h1 {
    font-size: 187.5%;
    margin: 0;
}
h2 {
    font-size: 125%;
    margin: 1em 0 1em 0; /* 1u */
}
h3, h4 {
    font-size: 100%;
}
h3 {
    padding: 0 0 0.438em 0; /* 0.5u - medium */
    border-bottom: 0.188em solid #666666;
}
/* Only h3 and h4 headings make sense at small sizes*/
h3.small, .small h3 {
    padding: 0 0 0.5em 0; /* 0.5u - medium */
    border-bottom: 0.214em solid #666666;
}


abbr, abbr[title], abbr[data-original-title]{
    text-decoration: none;
    border: none;
}
abbr.initialism {
    text-transform: lowercase;
    font-size: inherit;
    font-variant: small-caps;
}

.modal {
    width: 38.75em; /* 31u*/
}

.modal textarea {
    margin-left: 1.385em;
    width: 33.75em; /* 27u */
    height: 12.5em; /* 10u */
    padding: 0.562em; /* 0.5u - 1px (for now) */
}

.btn {
    background-image: none; /* A flat button*/
    background-color: #ebebeb;
    border-color: #dddddd;
}
.btn:hover {
    background-color: #dddddd;
}

select {
    /*font-size: 12px; */ /* Fixme */
    padding: 0;
}

code, pre {
    border: none;
    padding: 0;
    color: inherit;
    background: none;
    font-weight: 500; /* --mpj17=-- Or maybe 600. I am unsure*/
    font-size: inherit;
}

/* Fixes for popups */
/* Fix for popups in a toolbar */
.btn-toolbar > .popover + .btn {
    margin-left: 5px; /* Check */
}
.popover-content {
    min-width: 12.5em; /* 10u */
}
.small .popover * {
    font-size: 16px;
}
.small .popover h3 {
    font-weight: bold;
    border-bottom: #EBEBEB solid 1px;
    padding: 8px 14px;
}

/* Fixes for the Wells */
.well {
    padding: 0.562em; /* 0.5u - thin */
    border-width: 0.063em;
}
.small .well, .well.small {
    padding: 0.562em; /* 0.5u@14px - thin */
    border-width: 0.071em;
}

.well > :first-child, .well > :first-child > :first-child {
    margin-top: 0;
}
.well > :last-child, .well > :last-child > :last-child {
    margin-bottom: 0;
}

/* TODO: Move to a viewlet within gs.content.css */

/* First the typeface: Helvetica, on an 18px grid */
/* 13px text on a 18px line */
/* <http://www.alistapart.com/articles/howtosizetextincss/> */


/* h4, h5, h6, and strong elements all look the same: 1u high and */
/* bold. The YUI code takes care of this.  */

/* Text  */
/* TOOD: move to a viewlet in gs.content.layout */

p, ul, ol, dl, fieldset, table, pre {
    margin: 1.250em 0; /* 1u */
}
p.small, ul.small, ol.small, dl.small, fieldset.small, table.small, pre.small {
    margin: 1.429em 0; /* 1u @ 14px */
}
ul ul.small, ul ol.small, ol.small, ol.small {
    margin-top: 0;
}

h2 + :not(div), h3 + :not(div), h4 + :not(div), h5 + :not(div), h6 + :not(div), h2 + div :not(div), h3 + div :not(div), h4 + div :not(div), h5 + div :not(div), h6 + div :not(div) {
    margin-top: 0;
}

h3 {
    /* 13px line*/ 
    padding: 0 0 0.154em 0; /* + 2px padding = 15px */
    border-bottom: 0.188em solid #666666; /* + 3px border = 18px = 1u */
}

cite, em {
  font-style: italic;
}

blockquote {
    border-left: 0.375em solid #666666;
    padding-left: 0.438em;
    margin-left: 0.625em;
}

/* Less important information is grey */
.muted em, .muted strong {
  font-style: normal;
  color: #333333;
}

/* Text: Lists */
ul, ol {
  margin-left: 1.875em; /*1.5u*/
}
ul ol li {
  list-style:decimal outside;}


ol ol li {
  list-style:lower-alpha outside;
}
ol ol ol li {
  list-style:lower-roman outside;
}
/* Remove the top and bottom margins for nested lists. */
ul ul, ul ol, ol ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  font-weight: bold;
  margin: 1.250em 0 0 0;
}
dl dd {
  margin-left: 1.250em;
}

/* Text: Tables */
td, th {
  padding: 0.625em; /*0.5u*/
  border: none;
}
/*TODO: Captions */
tbody th {
  /* Headings in the thead are centered (see Y!UI, above). */
  text-align: left;
}

/* Tabs Override */
.nav-tabs {
    margin: 0 0 1.250em 0; /* 1u */
    border-bottom: 0.188em solid #666666;
}
.nav-tabs > li {
    margin: 0 1.250em -0.188em 0; /* The bottom border width */
}
.nav-tabs > li > a {
    color: #ababab;
    padding: 0 0 0.438em 0;
    line-height: 1.250;
    border: none;
}
.nav-tabs > li > a * {
    margin: 0;
    padding: 0;
}
.nav-tabs > li > a:hover {
    color: #333333;
    border-color-bottom: #666666;
    background: none;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #333333;
  border-top: none;
  border-right: none;
  border-bottom: 0.438em solid #333333;
  border-left: none;
  padding-bottom: 0.250em; /* 3px border*/
}

pre {
    font-size: 16px;
    background: none;
}

/*********/
/* Forms */
/*********/
/* TOOD: Move to gs.content.form */
label {
  display: block;
  font-weight: bold;
  margin: 1.250em 0 0.625em 0;
}
input[disabled], 
select[disabled], 
textarea[disabled], 
input[readonly], 
select[readonly], 
textarea[readonly] {
    background: #dddddd;
}

#gs-content-form-message a {
    text-decoration: underline;
}

/* TODO: move to gs.content.js.more */
.gs-content-js-more-content {
    overflow: hidden;
    text-overflow: ellipsis;
}
.gs-content-js-more-content :last-child {
    margin-bottom: 0;
}

.gs-content-js-more-content-small {
    height: 5em; /* 4u */
}
.small .gs-content-js-more-content-small {
    height: 5.712em; /* 4u */    
}
.gs-content-js-more-content-large {
    height: auto;
}
.gs-content-js-more-buttons {
    border-top: 0.063em solid #dddddd;
    position: relative;
    text-align: center;
    margin: 1.188em 0 1.25em 0;
}
.small .gs-content-js-more-buttons {
    border-top: 0.071em solid #dddddd;
    margin: 1.357em 0 1.429em 0;
}
.gs-content-js-more-buttons a {
    display: inline-block;
    background: white;
    padding: 0 0.625em;
    position: relative;
    top: -0.786em; /* 0.5u - thin, visually selected. */
}
.small .gs-content-js-more-buttons a {
    padding: 0 0.714em;
}
.gs-content-js-more-buttons a:hover {
    color: #333333;
}

.gs-content-js-more-buttons.hide {
    display: block;
    visibility: hidden;
    border: none;
    margin: 0;
}

/* TODO: move to gs.content.js.popuphelp */
.popup-help {
  float: right;
  width: 15.0em; /* 12u */
  z-index: 512;
  background: white;
}
.popup-help h3 {
  border-bottom: 0.063em solid #333333;
  margin: 0;
}
.required label:before {
  content: '*';
}
.required label.radioLabel:before {
  content: '';
}

/* zope.formlib adds br elements between my radio buttons. Hack around */
/* this issue in the CSS. */
.form-widget .value br {
  display: none;
}

/* The submit button, which never reads "Submit". */
/* Like buttons in dialogs on Microsoft Windows and Apple MacOS X the */
/* buttons are right aligned. However, standard GroupServer practice is */
/* to only have one (1) button on the page. */
.buttons {
    position: relative; /* Create a new rendering context */
    clear: left;
    margin: 1.250em 0;
    text-align: right;
    width: 43.75em; /* 34em */
}
.buttons > * {
    display: inline-block;
}

.radioItem, .checkboxGroup {
    display: block;
    margin-bottom: 0.625em;
}
.radioItem > *, .checkboxGroup > *,  input.checkboxType, label.checkboxLabel {
    display: inline-block;
}
input.radioType, label.radioLabel, input.checkboxType, label.checkboxLabel {
    margin: 0;
    font-weight: 200;
}

.form-widget input.textType, .form-widget textarea, .form-widget select {
    margin-left: 1.250em;
}

input[type=text], textarea, input.textType {
   width: 41.875em; /* 33.5u */
}

/*Messages at the top of forms*/
#form-message, .form-widget-message {
  padding: 0.625em; /* 0.5u */
}
#form-message {
  margin: 1.250em 0; /* 1u */
}
.form-widget-message {
  margin: 1.250em 0 1.250em 1.875em; /* 1u 0 1u 1.5u */
  padding: 0.625em; /* 0.5u */
  width: 30.0em; /* 24u */
}
#form-message .ui-icon, .form-widget-message .ui-icon {
  float: left;
  margin: 0 0.625em 0 0; 
}

/* WYMeditor */
/* The styling for the WYMeditor is *not* done here. It is done by a */
/* separate CSS that the WYMeditor loads */

/* GroupServer Page Layout */
/* TODO: move to 3 viewlets within gs.content.layout */

/* Main Layout for Site Homepage and Group Page */
/* page. T: title, U: utility links, B: body block, R: breadcrumbs, */
/* C: context viewlets, F: footer */
/*
/*   TTTTTTTTTTTTTT     UUUUUUU   */
/* .............................. */
/*   RRRR > RRRR > RRRR > RRRRR   */ 
/*                                */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/* .............................. */
/*   FFFFFFFFFFFFFFFFFFFFFFFFFF   */

/* "Normal" page */
/* TTTTTTTTTTTTTTTT     UUUUUUUUU */
/* .............................. */
/* RRRR > RRRR > RRRR > RRRR      */ 
/*                                */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* .............................. */
/* FFFFFFFFFFFFFFFFFFFFFFFFFFFFFF */

/* "Old" pages */
/* N: Context menu                */
/* TTTTTTTTTTTTTTTT     UUUUUUUUU */
/* .............................. */
/* RRRR > RRRR > RRRR > RRRR      */ 
/*                                */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* .............................. */
/* FFFFFFFFFFFFFFFFFFFFFFFFFFFFFF */

body {
    text-align: center; /* HACK for IE < 9. Bless it. */ 
    background: #eeeeee;
}
#toparea {
    background: #eeeeee;
    height: 5.250em; /*4.5u - thick*/
    border-bottom: 0.375em solid #cccccc;
}
#gs-content-layout-body {
    position: relative;
    background: white;
    width: 100%;
    height: auto;
}

#toparea, #titlebar, #bodyblock {
    position: relative; /* Create a new positioning context */
}
/* Center the three main elements */
#titlebar, #bodyblock, #gs-content-layout-footer-content {
    margin: 0 auto 0 auto;
    width: 58.75em; /* 47u = 940px */
    text-align: left;
}

#titlebar-home-link {
    text-decoration: none;
    border: none;
    display: block;
    padding-top: 1.25em; /* 1u */
    text-overflow: ellipsis;
    overflow: hidden;
}
#titlebar .logo {
    display: none;
}
#titlebar .site {
    font: bold 250%/1 arial,helvetica,clean,sans-serif; /* 2u */
}

#gs-content-layout-body {
    padding: 0 0 1.25em 0;
}

#bodyblock {
    background: white;
    padding: 1.25em 0 0 0; /* 1u 0 1u 0 */
}

/* The Footer */
#gs-content-layout-footer {
    background: #eeeeee;
    height: 5.250em; /*4.5u - thick*/
    border-top: 0.375em solid #cccccc;
    position: relative;
    clear: both;
    margin: 0;
}
#gs-content-layout-footer-content {
    position: relative;
}
#gs-content-layout-footer-links {
    position: absolute;
    top: 0;
    left: 0;
}
#gs-content-layout-footer-ad {
    position: absolute;
    top: 0;
    right: 0;
}

/* TODO: Move to wherever the utility-links viewlet will live */
/* <https://redmine.iopen.net/issues/3432> */
#utilitylinks {
    margin: 0;
    padding: 1.875em 0 0 0; /* 1.5u */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    line-height: 1.875em;
}
#utilitylinks .userimage {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 0.625em;
    max-height: 1.250em;
    overflow: hidden;
}
#utilitylinks-profile {
    font-weight: bold;
}

/* Breadcrumbs (Where should this live?) */
#breadcrumbs {
    margin: 0 0 1.25em 0;
}
#breadcrumbs.small {
    margin: 0 0 1.429em 0;
}
#breadcrumbs * {
    display: inline-block;
}
#breadcrumbs ul {
    margin: 0; 
}
#breadcrumbs li {
    list-style: none;
}
#breadcrumbs li:after {
    content: " \232A";
}
#breadcrumbs li:last-of-type:after {
    content: '';
}

/* The main block that contains the context navigation and the main */
/* page content. */
#contextnav {
  width: 11.250em;  /* 9u */
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.250em 0;
}
#contextnav .label {
  border-top: thin solid #333333;
}
#contextnav .label, #contextnav a {
  padding: 0.625em 0 0.625em 1.250em;
}
#contextnav .label a {
  padding: 0;
}
#contextnav .label, #contextnav ul {
  margin:0;
}
#contextnav li, #contextnav a  {
  display: block;
}
#contextnav li {
  list-style-type: none;
  margin: 0;
}
#contextnav li li a {
  padding: 0.625em 0 0.625em 2.5em; 
}

#content {
  width: 50em; /* 40u */
  position: absolute;
  top: 0;
  right: 0;
}
/* Text Markup */
p.label {
  font-weight: bold;
  margin-bottom: 0.625em;
}
p.label + ul {
  margin-top: 0.625em;
}

.noFloat {
    clear: both;
}
div.noFloat { 
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Columns */
/* TODO: Move to gs.content.layout */
.gs-content-layout-cols {
    position: relative; /* Create a new positioning context */
    margin-top: 1.250em;
    width: width: 58.813em; /* 47u + thin, for complex float reasons*/
}
.gs-content-layout-cols .main {
    position: relative;
    float: left;
    width: 37.5em; /*30u*/
    border-right: 0.063em solid #cccccc;
    padding: 0 2.5em 0 0; /*2.5u (NOT - border) */
}
.gs-content-layout-cols .secondary {
    position: relative;
    float: right;
    width: 17.5em; /*14u (not - thin) */
    padding: 0 0 0 1.125em; /* 0 0 0 1u - 2 * thin */
    border-left: 0.063em solid #cccccc;
    left: -0.063em; /* - thin */
}
.gs-content-layout-cols .secondary.small {
    width: 20em; /*14u @ 14px */
    padding: 0 0 0 1.286em; /* 0 0 0 1u (- 2 * thin) */
    border-left: 0.071em solid #cccccc;
    left: -0.071em;
}

.gs-content-layout-cols > * > :first-child,
.gs-content-layout-cols > * > :first-child > :first-child {
    margin-top: 0;
}

.gs-content-layout-cols + * {
    clear: both;
}

/* Text Markup: Inline Lists. Usually used for navigating between pages */
.inline-list, .dotted-inline-list, .comma-inline-list {
    margin-left: 0;
}
.inline-list li, .dotted-inline-list li, .comma-inline-list li {
    list-style: none;
    display: inline-block;
}
.inline-list li {
    margin-right: 0.625em; /* 0.5u */
}
.small .inline-list li,
.inline-list.small li,
.inline-list li.small {
    margin-right: 0.714em; /* 0.5u */
}

.dotted-inline-list li:before {
    content: "\2022";
    color: #999999;
    padding: 0 0.0.188em; /* medium */
}
.small .dotted-inline-list li:before, 
.dotted-inline-list.small li:before, 
.dotted-inline-list li.small:before {
   padding: 0 0.714em; /* 0.5u */
}

.dotted-inline-list li:first-child:before {
    content: none;
}
.comma-inline-list li:after {
    content: ", ";
    color: #999999;
}
.comma-inline-list li:last-child:after {
    content: none;
}

/* Text Markup: labels for lists */
p.label {
    margin-bottom: 0;
}
p.label + ul {
    margin-top: 0;
}

/* Text Markup: The profile image, which appears everywhere. */
/* TODO: move to gs.profile.image */
/* */
.userimage {
    float: left;
    width: 3.125em;  /* 3u */
    height: 3.125em;  /* 3u */
    padding: 0 0.625em 0.625em 0; /* 0 0.5u 0.5u 0 */
    background: #666666;
    overflow: hidden;
}
.userimage img {
    /* --=mpj17=-- Because I can */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* Text Markup: Disclosure Widget */
.disclosureButton {
  display: block;
  text-decoration: none;
}

/* Text Markup: Columns */
/* Two columns with a 2u gap */
#content .leftColumn, #content .rightColumn {
  width: 23.75em; /* 19u */
}
/* Two columns with a 1.5u gap */
#divisionHomeContent .leftColumn, #divisionHomeContent .rightColumn {
  width: 31.25em; /* 25u */
}
.leftColumn {
    float: left;
}
.rightColumn {
    float: right;
}

/* Text Markup: SHOUTING TEXT */
.allupper {
  font-family: serif;
}


/************************/
/* Page-specific styles */
/************************/

/* Site Homepage */
#gs-groups-list h2, #gs-groups-list h4 {
    margin: 0;
}
.gs-group-list {
    margin: 1.062em 0 1.875em 0; /* 1u - medium, 0, 1.5u, 0 */
    border-top: 0.188em solid #666666;
    padding: 0;
}
.gs-group-list .vcard {
    position: relative;
    margin: 0.625em 0 0 0; /* 0.5u */
    padding: 0 0 0.562em 0; /* 0.5u - thin */
    border-bottom: 0.063em solid #cccccc;
}
.gs-group-list-membership {
    position: absolute;
    right: 0;
    top: 0;
}

/* Group page */
/**************/
/* TODO: move to gs.group.home */

/* About box on the Group page */
/* TODO: Move to gs.group.about */
#gs-group-about {
    margin: 1.875em 0 0 0; /* 1.5u */
    position: relative;
}
#gs-group-about h2 {
    border-bottom: 0.15em solid #666666;
    padding: 0 0 0.35em 0;
}
#gs-group-about-change-link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
#gs-group-about-tab-intro-text :first-child{
    margin-top: 0;
}
#gs-group-about-tab-intro-buttons {
    text-align: right;
}

/* Encouragement */
/* TODO: move to gs.group.encouragement */
#gs-group-encouragement-area {
    display: none;
}

/* The Recently Active members list */
/* TODO: move to gs.group.member.active */
.gs-group-member-active-members-member {
    position: relative; /* Create a new positioning context */
    margin: 0 0 0.625em 0;
}
.gs-group-member-active-members-member .userimage {
    padding: 0;
    float: none;
    max-width:  2.5em; /* 2u */
    max-height: 2.5em;
    overflow: hidden;
    /*max-height: 4.154em;*/ /* 3u */
}
.gs-group-member-active-members-member .fn {
    position: absolute;
    top: 0;
    left: 3.125em; /* 2.5u */
    font-weight: bold;
}
#gs-group-member-active-stats {
    border-top: 1px solid  #dddddd;
    margin: 0.625em 0 1.250em 0;
    padding: 0.562em 0 0 0; /* 0.5u - 1px */
}

/* The Welcome message on the site homepage */
/* TODO: move to gs.site.welcome */
#gs-site-welcome {
    position: relative; /* Create a new rendering context */
}
#gs-site-welcome-change {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

/* About box on the site homepage */
/* TODO: move to gs.site.about */
/* If anyone puts something in front of the About box there will be */
/*   hell to pay*/
#gs-site-about-home-change-link {
    display: block;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;
}

/* Search */
/**********/
/* TODO: move to gs.search.base */

/* The search entry box */
.gs-search-entry input {
  width:  22.5em; /* 18u */
  margin-left: 0;
  display: inline-block;
}

/* The Loading message */
.gs-search-loading img {
  margin: 0 0.625em 0 0;
  padding:0;
}

/* The results */
.searchResults {
    margin: 1.250em 0 0 0; /* 1u */
}
.small .searchResults,
.searchResults.small {
    margin: 1.429em 0 0 0; /* 1u */
}
.searchResults .tags li {
    margin: 0;
}
.searchResults .tags li a {
    color: #666666;
}
/*Sticky-topic icons need the .gs-search to over-ride the .ui-icon config */
.gs-search .gs-search-sticky {
  display: inline-block;
}
.gs-search-results .gs-search-result {
    border-bottom: 0.063em solid #dddddd;
    padding-bottom: 1.188em; /* 1u - border */
    margin-bottom: 1.250em; /* 1u */
    list-style: none;
    min-height: auto;
}
.small .gs-search-result, .gs-search-result.small {
    border-bottom: 0.071em solid #dddddd;
    padding-bottom: 1.357em; /* 1u - border */
    margin-bottom: 1.429em; /* 1u */
}

.gs-search-keyword {
  text-decoration: none;
}

/* Topic Search */
/****************/

/* The number of posts is shown in a speech balloon. The balloon is made of */
/* two parts: the number in the balloon and a tail. */
/* Thanks to <http://cssarrowplease.com/> and  */
/*  <http://nicolasgallagher.com/pure-css-speech-bubbles/demo/> */
/* The bubble */
.gs-search-result .postCount { /* FIXME */
    color: #666666;
    background: #dddddd;
    font-size: 10px;
    line-height: 1;
    /* 1px == 0.1em */
    padding: 0.1em 0.8em;
    text-decoration: none;
    border: 0.1em solid #dddddd;
    border-radius: 0.3em;
    display: inline-block;
    position: relative;
    top: -0.2em;
}
/* The tail */
.gs-search-result .postCount:after {
    position: absolute;
    top: 100%;
    left: 0.6em; /* 6px */
    content: " ";
    width: 0; 
    height: 0;
    border: none;
    border-left: 0 solid transparent;
    border-right: 0.9em solid transparent;
        
    border-top: 0.6em solid #dddddd;
}
.gs-search-result .tags {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#gs-group-messages-topics-search-form {
    position: relative;
}
#gs-group-messages-topics-search-form-new-topic {
    position: absolute;
    right: 0;
}
.gs-search-result .files {
    margin-left: 0.389em;
    border: none;
    display: inline-block;
    height: 1.250em;
}
.gs-search-result .files .value {
    font-size: 10px;
    line-height: 1.8;
    display: inline-block;
    position: relative;
    top: -0.2em; /* 2px */
}

.gs-search-toolbar.btn-toolbar {
    position: relative;
    text-align: center;
    font-size: 16px;
}
.gs-search-toolbar.btn-toolbar .btn {
    position: absolute;
    top: 0;
}
.gs-search-toolbar.btn-toolbar .gs-search-toolbar-previous {
    left: 0;
}
.gs-search-toolbar.btn-toolbar .gs-search-toolbar ul {
    display: inline-block;
    margin: 0 auto 0 auto;
    line-height: 2.077; /* 1.5u, the same height as the buttons */
}
.gs-search-toolbar.btn-toolbar .gs-search-toolbar-next {
    right: 0;
}

/* Messages */
/************/

/* Messages: Post, both in a topic, on the posts page, or by itself. */
/* TODO: move to gs.group.messages.post
/* PPP MMMMM EEEEEEEEEEEEEEEEE */
/* PPP MMMMM EEEEEEEEEEEEEEEEE */
/* PPP       EEEEEEEEEEEEEEEEE */
/* PPP AAAAA EEEEEEEEEEEEEEEEE */
/*           EEEEEEEEEEEEEEEEE */
/*           EEEEEEEEEEEEEEEEE */
/*           RRRRRRRRRRRRRRRRR */
/*           RRRRRRRRRRRRRRRRR */
/*           RRRRRRRRRRRRRRRRR */
/*           FFFFF             */
/*           FFFFF             */
/*           FFFFF             */

/* P: photo (3u by 4u); M: metadata (12.5); A: Actions; E: email (33u); */
/* R: remainder; F: files. 0.5u gap seperates the three vertical columns. */

.hentry {
    position: relative;
    padding: 0 0 1.250em 0; /* TODO: check the 1.250 */
    border-bottom: 0.063em solid #dddddd;
    margin: 0;
    min-height: 6.250em; /* 5u */
}
.hentry pre a, 
.hentry pre a:visited, 
.hentry pre a:hover, 
.hentry pre a:focus {
    color: black;
    text-decoration: underline;
    -moz-text-decoration-color: #cccccc;
    text-decoration-color: #cccccc;
}

#gs-group-messages-topic-page-content .hentry:last-child {
    border-bottom: 0.188em solid #666666;
    padding: 0 0 1.062em 0;
}

.hentry .userimage, .email-metadata {
    position: absolute;
    top: 1.250em;
}
.hentry .userimage {
    padding: 0;
}
.email-metadata {
    left: 3.750em; /* 3.5u: 3u for the photo, and 0.5u gap */
    width: 12.5em /* 10u */
}
.email-metadata .vcard, .email-metadata .posted {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.email-metadata > * {
    display: block;
}
.email-metadata abbr {
  border: none;
}
.email-metadata .topic {
  display: none;
}

.hentry .email-message, .hidden-post {
    position: relative;
    left: 17.5em; /* 14u */
    width: 41.25em; /* 33u */
    padding: 1.250em 0 0 0; 
}
.hentry pre {
    font-family: inherit;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    border: none;
    margin: 0;
}
.hentry .entry-content, .hentry .email-remainder, .hentry .fileNotification, 
.hidden-post {
    width: 41.25em; /* 33u */
}
.hentry .entry-content, .hidden-post > p {
    margin: 0;
}
.email-remainder p.small {
    margin: 1.429em 0 0 0;
}
.email-remainder pre {
    margin: 0;
}

/* File list at the bottom of a post. */
.hentry .fileNotification {
    margin: 1.250em 0 0 0;
    padding: 1.188em 0 0 0;
    border-top: 0.063em solid #dddddd;
    vertical-align: top;
}
.hentry .fileNotification > * {
    display: inline-block;
}
.hentry .normalFileList {
    vertical-align: top;
    margin: 0;
}
.normalFileList + .mediaFileList {
    max-width: 30em; /* 21u */
}
.normalFileList + .mediaFileList .hmedia {
    margin: 0 0 1.250em 1.250em;
}
.mediaFileList .hmedia {
    margin: 0 0 1.250em 0;
    display: inline-block;
    max-width: 11.875em; /* 9.5u */
    vertical-align: top;
}
.mediaFileList .hmedia + .hmedia {
    margin: 0 0 1.250em 1.250em;
}
.mediaFileList .hmedia img {
    max-width: 11.812em; /* 9.5u - thin;*/
    max-height: 11.812em; 
    border: 0.063em solid #eeeeee;
}
.mediaFileList .hmedia .info {
    margin: 0.625em 0 0 0;
}

/* The single post page */
.gs-group-messages-post-navigation {
    position: absolute;
    right: 0;
}
.hentry + .gs-group-messages-post-navigation {
    position: static;
}
#gs-group-messages-post .hentry {
    margin: 1.25em 0; /* 1u */
    border-top: 0.188em solid #666666;
    border-bottom: 0.188em solid #666666;
}

/* Messages: The Hide a Post UI */
/* TODO: move to gs.group.messages.post.hide */
#hide-the-post {
    text-align: left;
}

/* TODO Move to a sane place */
.ui-widget-content {
    text-align: left;
}

/* Topic: The work-horse page of GroupServer, the Topic page displays */
/* all the posts in a topic, and an Add to Topic form to group members. */
/* TODO: Move to gs.group.messages.topic */
/*                                */
/* BBB > BBBB > BBB               */
/* Topic title                    */
/*                                */
/* UUUUUUUUUUUUU   SSSS TTTT NNNN */
/* UUUUUUUUUUUUU                  */
/*                                */
/* Posts (gs.group.message.post)  */
/*                                */
/* NNNN         FFFFFFFFFFFFFFFFF */
/*              FFFFFFFFFFFFFFFFF */
/* B: Breadcrumbs; U: Topic summary; S: Share button; T: Sticky button; */
/* N: Navigation; F: Form or Cannot Post message */

#gs-group-messages-topic-title cite {
    font-style: normal;
    font-weight: bold;
}

#gs-group-messages-topic-tasks {
    float: right;
    margin-bottom: 0;
}

.modal + .gs-group-messages-topic-navlinks {
    position: relative;
    top: 0.625em;
}
.modal + .gs-group-messages-topic-navlinks .btn {
    margin-top: 1.250em;
}
#gs-group-messages-topic-admin-stickytoggle button {
    transition-property: width;
    transition-duration: 250ms; /* A guess at the ping-distance */
}
#gs-group-messages-topic-admin-stickytoggle button.disabled {
    width: 5em; /* Set the width to 4u by CSS so there is a transition */
}

/* Topic summary */
#gs-group-messages-topic-summary {
    margin: 0.625em 0;
}
#gs-group-messages-topic-summary-simple {
    margin: 0;
}
#gs-group-messages-topic-summary-simple li {
    display: inline-block;
}
#gs-group-messages-topic-summary-simple li + li:before {
    content: "\2022 ";
}
#gs-group-messages-topic-summary-keyowords * {
    display: inline-block;
    margin: 0;
}

.postList {
  margin: 1.062em 0 0 0; /* 1u - 3px border */
  border-top: 0.188em solid #666666;
}

#topic-index caption {
  display: none;
}

#hide-the-post + .navlinks {
    position: absolute;
    margin: 1.250em 0;
}

/* The Add to Topic form at the bottom of the page */
#gs-group-messages-topic-cannotadd, #add-to-topic {
    width: 41.25em; /*33u*/
    position: relative;
    left: 17.5em; /* 14u */
    top: -1.875em; /* 1.5u */
}
#add-to-topic {
    margin: 0;
}
#add-to-topic h2 {
    margin-top: 0;
}
.gs-group-messages-topic-add .userimage {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 0.625em;
    height: 1.250em;
    overflow: hidden;
}
.gs-group-messages-topic-add #widget-form\.message label {
    display: none;
}
.gs-group-messages-topic-add #form\.message {
    margin: 0;
    width: 40em; /* 33u - 1u padding = 32u*/
    padding: 0.562em; /* .5u - thin */
}
.gs-group-messages-topic-add .buttons {
    margin-bottom: 0;
    width: 41.25em;
}
#gs-group-messages-topic-add-from { /* NOTE: from, not form */
    vertical-align: top;
    margin: 0 0 0.625em 0; /* 16px, because of the height of the select */
}
#gs-group-messages-topic-add-from * {
    display: inline-block;
    margin: 0;
    width: auto;
}
#gs-group-messages-topic-add-from option {
    display: block;
    margin: 0;
}
#gs-group-messages-topic-add-privacy-summary {
    display: inline-block;
    margin-right: 1.250em;
    cursor: pointer;
}

/* The Multi File plugin for jQuery at the bottom of the Add to Topic form */
/* TODO: move to gs.content.js.multifile */
.gs-group-messages-topic-add-file {
    position: relative;
    margin-top: 0.625em;
}
.gs-group-messages-topic-add-file label {
    position: absolute;
    margin: 0;
}
.gs-group-messages-topic-add-file-files {
    padding: 0 0 0 3.75em; /* 0 0 0 3u */
}

.MultiFile-wrap input {
    margin: 0;
}
.MultiFile-label {
    margin: 0.625em 0; /* 0.5u */
}
.MultiFile-remove {
    margin: 0 0.625em 0 0; /* 0.5u */
}
.MultiFile-remove abbr {
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* Start a Topic, alias New topic */
/* TODO: move to gs.group.messages.starttopic, 
   or gs.group.messages.topic.start */
#gs-group-messages-startopic-new {
    margin: 1.25em 0 0 0;
}
#gs-group-messages-starttopic-new-topic {
    margin: 0 0 0.625em 0;
}
#gs-group-messages-starttopic-new-topic label {
    width: 3.125em; /* 2.5u */
}
#gs-group-messages-starttopic-new-topic input {
    padding: inherit 0.562em; /* .5u - thin */
    width: 36.875em; /* 29.5u */
}

/*********/
/* Posts */
/*********/
/* An obscure page, a bit like a topic, but not */
/* TODO: move to gs.group.messages.posts */

#gs-group-messages-posts-page .nav {
    position: absolute;
    right: 0;
    margin: 0;
}
#gs-group-messages-posts-page .hatom {
    margin-bottom: 1.250em
}
#gs-group-messages-posts-page .hatom + .nav {
    position: static;
}

#gs-group-messages-posts-page .entry-title {
    display: block;
}
#gs-group-messages-posts-page .entry-title:before {
    content: "Post in ";
    color: #999999;
}
#gs-group-messages-posts-page .gs-group-messages-post-buttons {
    margin-top: 0;
}
#gs-group-messages-posts-page .hide-button {
    display: none;
}

/*********/
/* Topics */
/*********/
/* An obscure page, a page presenting a table of topics. */
/* TODO: move to gs.group.messages.topics */
#gs-group-messages-topics-page .btn-toolbar {
    position: absolute;
    right: 0;
    margin: 0;
}
#gs-group-messages-topics-page .nav {
    margin: 0;
}

/***********/
/* Profile */
/***********/
.cols h2 {
  margin-top: 0;
}

/**********/
/* Search */
/**********/
/* Search Lists: Topic, Post, and File */
/* Lists of search results used by the group homepage, the site homepage, */
/* profile page and the search page. */
/* TODO: Move to gs.search.base */

.searchResults .fileResult .fileIcon, .fileMetadata .fileIcon, #topicsSummary .fileIcon {
  margin: 0;
  padding: 0;
}
.searchResults .topic, .searchResults .fileName {
  display: inline-block;
  font-weight: 900;
}
.searchResults .topic {
  margin-right: 1em;
}
.searchResults .figure {
  margin: 0.625em 0 0.625em 1.250em;
}

/* Search Page */
#searchInput {
  margin: 1.250em 0 2.5em 0;
}
#searchInput input {
  margin: 0 1.250em 0 0;
  display: inline-block;
}
#searchInput .button {
  padding: 0 0.625em;
}
.searchResults .disclosureWidget {
  margin-left: 1.250em;
}
.refineButton {
  margin: 0.625em 0 0 0;
}
.refinement {
  margin: 0 0 0 1.250em;
}
.refinement li {
  margin: 0;
  clear: both;
}  

/* TODO: move to gs.group.messages.files */
#gs-group-messages-files {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
#gs-group-messages-files-nav {
    position: absolute;
    top: 0.625em;
    right: 0;
    margin: 0;
    padding: 0;
}
#gs-group-messages-files-nav {
    top: 0.438em; /* 0.5u - medium */
    right: 0;
    margin: 0;
    padding: 0;
}
.small #gs-group-messages-files-nav {
    top: 0.5em; /* 0.5u  - medium */ 
}
#gs-group-messages-files-nav * {
    overflow: hidden;
    text-overflow: ellipsis;
}
#gs-group-messages-files .gs-search-result {
    position: relative;
    border: none;
    padding: 0;
}
#gs-group-messages-files .gs-search-result img {
    max-height: 2.5em; /* 2u */
    max-width: 2.5em;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
#gs-group-messages-files .gs-search-result div {
    padding-left: 3.125em; /* 2.5u */
    text-overflow: ellipsis;
}

/* Posted Image Page */
/* TODO: move to gs.group.messages.image */
/* Because people forget to scale images before posting, GroupServer */
/* resizes the image before displaying it on the Image Page. Besides */
/* the image the Image Page shows some Metadata associated with the */
/* posted file. */
.gs-group-messages-image  h1 {
    max-width: 25.333em; /* 47.5u */
    white-space: nowrap; /* Because of the code element */
}
.gs-group-messages-image-navlinks {
    position: absolute;
    right: 0;
}
.gs-group-messages-image .scaled-image {
    position: relative;
    margin: 1.062em 0 1.25em 0; /* 1u - medium, 1u */
    border-top: 0.188em solid #666666;
    border-bottom: 0.188em solid #666666;
    padding: 1.25em 0 1.062em 0; /* 1u, 1u - medium */
}
.gs-group-messages-image .metadata > * {
    position: absolute;
    top: 1.25em;/* 1u*/
    left: 0;
}
.gs-group-messages-image .metadata .userimage {
    padding: 0;
}
.gs-group-messages-image .metadata ul,
.gs-group-messages-image .metadata .gs-group-messages-image-buttons {
    position: absolute;
    left: 3.75em; /* 2.5u for the photo, and 0.5u gap */
    width: 12.5em; /* 10u */
    margin: 0;
}
.gs-group-messages-image .metadata ul {
    top: 1.25em; /* 1u - medium */
    list-style: none;
}
.gs-group-messages-image .metadata .gs-group-messages-image-buttons {
    top: 4.375em; /* 3.5u */
    font-size: 16px;
}
#gs-group-messages-image-share {
  margin: 1.250em 0 0 0;
}
.gs-group-messages-image .preview {
    display: block;
    position: relative;
    left: 17.5em; /* 14u */
    width: 41.25em; /* 33u */
}
.gs-group-messages-image .preview img {
    border: 0.063em solid #eeeeee;
}
.gs-group-messages-image .enclosure {
    margin: 0.562em 0 0 0; /* 0.5u - thin 0 0 0*/
}
.gs-group-messages-image .scaled-image + .gs-group-messages-image-navlinks {
    left: 0;
}

/* Invitations Pages */
.group-invitation p {
  margin-left: 1.250em; 
}
.group-invitation ul {
  margin-left: 3.125em; /* 2.5u */
}
.group-invitation fieldset {
  padding-left: 0;
  margin-left: 1.250em;
}

/* Login */
#login-form .textType{
  height: auto; /* I do not know why I have to do this */
}

/* Content Manager */
/*Content Manager: Change Privacy*/
/* The Change Privacy page for the content manager is in two columns. */
/* However, this throws out the column-code. So, I lay this page out */
/* manually. */
#changeprivacy .rightColumn .value {
  margin-top: 2.5em; /* 2u */
}

/* Manage Members */
/* The Manage Members page is a complex beast. Essentially a form, it */
/* is a *huge* form. */
#manage-members .navlinks {
  display: inline;
}      
#manage-members .statusActions {
  position: relative;
  border-top: 0.063em solid #333333;
  border-bottom: 0.063em solid #333333;
  padding: 1.188em 0 1.188em 0; /* 1u - thin */
  overflow: hidden;
}
#manage-members .userimage {
  position: absolute;
  float: none;
  top: 0;
  right: 0;
  padding: 1.250em; /* 1u */
}
#manage-members .radioItem {
  margin: 0.625em 0; /* 0.5u */
}
#manage-members .statusActions h3 {
  padding-right: 6.25em; /* 5u gap for the profile photo */
}

/* Members List */
#gs-group-member-list li.vcard {
  display: inline-block;
  width: 16.25em; /*13u*/
  height: 2.5em; /* 2u*/
  margin: 1.250em; /* 1u */
}
#gs-group-member-list li.vcard img {
  height: 2.5em;
}
#gs-group-member-list .vcard li {
  list-style: none;
}
#gs-group-member-list .photo {
  width:  1.875em; /* 1.5u */
  height: 2.5em; /* 2.0u */
  padding: 0;
  display: inline-block;
  float: left;
  background: #999;
}
#gs-group-member-list .vcard ul {
  margin-left: 2.5em; /* 2u */
}

/* Sign Up */
/* In place of a context-navigation menu a progress-menu is shown for */
/* sign up. */
#signup-progress li {
  list-style: none;
  padding-left: 1.875em; /* 1.5u */
}
#signup-progress .done:before {
  content: "\2713 "; /*A check box*/
}
#signup-progress .current {
  font-weight: bold;
}
#signup-progress .current:before {
  content: "\2023 "; /*A triangle*/
}
#signup-progress .done {
  padding-left: 1.250em; /* 1u */
}
#signup-progress .current {
  padding-left: 0.625em; /* 0.5u */
}

/* Invitations */
#invite-message-preview-button {
  padding: 0.625em; /* 0.5u */
  margin: 1.250em 0; /* 1u */
  cursor: pointer;
}
/* Invite by CSV */
#gs-group-member-invite-csv select {
  margin: 0 0 1.250em 1.250em; /* 0 0 1u 1u */
}

/* View Profile: Membership List */
#gs-profile-view #membership ul {
  margin: 1.250em 0 1.250em 0;/* 1u 0 1u 0 */
}
#gs-profile-view #membership li {
  list-style: none;  
}
#gs-profile-view #membership a, #gs-profile-view #membership .current {
  display: block;
  padding: 0.625em 0 0.625em 0; /* 0.5u */
  margin: 1.250em 0 0 0;  /* 1u 0 0 0 */
}
#gs-profile-view #membership .current {
  border-top: 0.063em solid #333333;
  border-right: 0.063em solid #333333;
  border-bottom: 0.063em solid #333333;
}
#gs-profile-view #membership .manage {
  padding: 0;
  margin: 0 0 0 1.250em; /* 0 0 0 1u */
}
#gs-profile-view #siteMembership {
  border-left: 0.625em solid #333333; /* 0.5u */
}
#gs-profile-view #siteMembership a, #gs-profile-view #siteMembership .current {
  padding: 0.625em; /* 0.5u */
}

#gs-profile-view #membership .rightColumn,  #gs-profile-view #membership .leftColumn{
  margin: 1.250em 0; /* 1u */
}
#gs-profile-view #groups h2 {
  margin: 0 0 0.625em 0; /* 0 0 0.5u 0 */
}
#gs-profile-view #siteMembership h2 {
  margin: 0 0 0.625em 0.625em; /* 0 0 0.5u 0.5u */
}

/* Group Member Log */
/* The group-member log lists when the members joined and left the */
/* group. The list of members has the bullet replaced with a + or - */
/* as appropriate. To switch between the All, Join and Leave tabs the */
/* class of the list is changed, and this triggers the different CSS */
/* rules to be evoked. */
#gs-group-member-log #tabbody {
  clear: left;
}
#gs-group-member-log .join-event, .leave-event {
  list-style: none;
}
#gs-group-member-log li.join-event:before {
  content: "+ ";
  font-weight: bold;
  font-size: 125%;
}
#gs-group-member-log li.leave-event:before {
  content: "\2212  "; /* Hex Code for the minus sign &#8722; */
  font-weight: bold;
  font-size: 125%;
}
#gs-group-member-log .join .leave-event {
  display: None;
}
#gs-group-member-log .leave .join-event {
  display: None;
}

/* Change Site Greeting Page */
#gs-greeting-changegreeting #preview {
  margin: 1.250em 0 0 1.250em; /* 1u 0 0 1u */
}
#gs-greeting-changegreeting li {
  list-style: none;
  margin-bottom: 0.625em; /* 0.5u */
}

/* Error Pages */
/* The technical message goes at the end of the page. It is mostly */
/* there for developers, so it is de-emphasized. */
#technical {
  padding: 0.625em 0; /* 0.5u */
  border-top: 0.063em solid #999;
  color: #999;
}

/* Profile: Email Settings*/
#gs-profile-email-change .change select, #gs-profile-email-change .change input {
  display: inline;
  width: auto;
}
#gs-profile-email-change .change input {
  padding: 0 0.625em; /* 0.5u */
}

/* The Share widget */
/* TODO: move to gs.content.js.share */
.gs-content-js-sharebox-dialog {
    font-size: 16px;
    width: 16.25em; /* 13u */
}
.gs-content-js-sharebox-dialog p, .gs-content-js-sharebox-dialog .full-share * {
    margin: 0;
    padding: 0;
}
.gs-content-js-sharebox-dialog .full-share input {
    margin: 0.8333em 0 0 0; /* 0.5u */
    font-size: 12px;
    line-height: 1.667;
    width: 20em; /* 12u @ 12 px */
    cursor: text;
}

#signupmethods .odd, #signupmethods .even {
        border-top: 1px #999999 solid;
        background-color: #fefefe;
        padding-top: 1.378em;
        padding-bottom: 1.378em;
}

/* Register */
/* TODO: move to gs.profile.register */
#signupmethods .even {
        margin-top: 1.378em;
}
#signupmethods {
        border-bottom: 1px #999999 solid;
        margin-bottom: 0.689em;
        margin-top: 0.689em;
}

#signupmethod-email {
        padding-left: 1.387em;
}


/*  Small-screen browsing, for phones (iPhone). The main three pages
  * that are handled by this CSS are the site homepage, group page,
  * and the Topic page. */
@media screen and (max-width: 940px) {
    /* Tablet or Small desktop */

    /* Take up the full width of the screen*/
    #titlebar, #bodyblock, #gs-content-layout-footer-content {
        width: 100%;
    }
    /* Dynamically size the columns*/
    .gs-content-layout-cols .main,
    .gs-content-layout-cols .secondary, 
    .gs-content-layout-cols .secondary.small {
        padding: 0;
        border: none;
    }
    .gs-content-layout-cols .main {
        width: 62%;
    }
    .gs-content-layout-cols .secondary, 
    .gs-content-layout-cols .secondary.small {
        width: 35%;
    }

    /* Place the email body in a single column with the email body */
    .email-metadata, .hentry .email-message, .hidden-post {
        position: static;
    }
    .email-metadata {
        padding: 0.689em 0 0 3.750em;
    }
    /* Flick the "Post a reply" form into a single column, with the email. */
    #gs-group-messages-topic-cannotadd, #add-to-topic {
        width: 100%;
        position: static;
        margin-top: 1.25em;
    }

    /* Place the image below its metadata */
    .gs-group-messages-image .metadata > *, 
    .gs-group-messages-image .metadata ul,
    .gs-group-messages-image .metadata .gs-group-messages-image-buttons {
        position: static;
    }
    .gs-group-messages-image .metadata ul,
    .gs-group-messages-image .metadata .gs-group-messages-image-buttons {
        width: auto;
        padding: 0 0 0  3.750em;
    }
    .gs-group-messages-image .preview {
        position: static;
        width: auto;
        max-width: 100%;
        padding: 1.25em 0 0 0;
    }
    
}

@media screen and (max-width: 790px) {
    /* Mini tablet */
    /* Dynamically the size of the top area and the footer */
    #toparea, #gs-content-layout-footer {
        height: auto;
    }
    /* Reduce the size of the site banner */
    #titlebar .site {
        font-size: 187.5%;
    }
    /* Flick everything that is on the right into a single column */
    #utilitylinks,
    #gs-content-layout-footer-links,
    #gs-content-layout-footer-ad,
    .gs-group-messages-post-navigation,
    #gs-group-messages-topic-tasks,
    .gs-group-messages-image-navlinks,
    .gs-group-list-membership {
        position: static;
        padding: 0.625em 0 0.250em 0;
    }
    /* Remove the columns */
    .gs-content-layout-cols, 
    .gs-content-layout-cols .main, 
    .gs-content-layout-cols .secondary, 
    .gs-content-layout-cols .secondary.small,
    #gs-group-messages-topic-tasks {
        float: none;
        width: 100%
    }
    /* But place a seperator between them */
    .gs-content-layout-cols .main {
        padding: 0 0 0.250em 0;
        border-bottom: 0.375em solid #eeeeee;
        margin: 0 0 1.25em 0;
    }

    /* Navigation buttons have a font-size of 0, so we have to use px. */
    .gs-group-messages-post-navigation, .gs-group-messages-image-navlinks {
        margin: 0 0 10px 0;
    }
    #gs-group-messages-topic-tasks {
        margin: 10px 0;
    }
}

@media screen and (max-width: 710px) {
    /* Start shrinking the size of the forms. */
    .form-widget input.textType, .form-widget textarea, .form-widget select {
        margin: 0 0 1.25em 0;
    }
    input[type=text], textarea, input.textType {
        width: 95%;
        max-width: 41.875em; /* 33.5u */
    }
    .radioItem > *, .checkboxGroup > *,  input.checkboxType, 
    label.checkboxLabel {
        display: inline;
    }
    .buttons {
        width: 97%;
    }

}

@media screen and (max-width: 660px) {
    /* Allow the text in the email messages to wrap. */
    .hentry .entry-content, .hentry .email-remainder, 
    .hentry .fileNotification, 
    .hidden-post,
    .hentry .email-message, .hidden-post {
        width: 100%;
    }
    .hentry pre {
        white-space: pre-wrap;
    }
    .hentry .normalFileList .hmedia {
        margin-bottom: 1.25em; /* Make standard? */
    }
    /* Get the Post a reply form to follow the size of the posts */
    .gs-group-messages-topic-add #form\.message {
        width: 95%;
    }
    .gs-group-messages-topic-add .buttons {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .gs-search-entry input {
        width: auto;
    }    
}
@media screen and (max-width: 410px) {
    #gs-group-messages-topics-search-form-new-topic {
        position: static;
        margin: 0.625em 0 0.625em 0;
    }
}