/* GroupServer Standard Stylesheet
 * 
 * -- Michael JasonSmith (mpj17) 2012
 *
 */

/* For now just import the Bootstrap CSS */
@import url('/++resource++bootstrap-2.2.2/css/bootstrap.css');

/******************************/
/* GroupServer Typeface Setup */
/******************************/

pre {
    background: inherit;
    font-size: 13px;
    border: none;
}
.muted pre, pre.muted {
    color: #999999;
}
abbr, abbr[title], abbr[data-original-title]{
    text-decoration: none;
    border: none;
}
h1 code, h2 code, h3 code, h3 code {
    /* If I use a code in a heading I want it to look like the heading .*/
    font-size: inherit;
    color: inherit;
    border: inherit;
    background: inherit;
}

.modal {
    width: 42.923em; /* 31u*/
}

.modal textarea {
    margin-left: 1.385em;
    width: 37.3846em; /* 27u */
    height: 13.846em; /* 10u */
    padding: 0.615em; /* for now */
}

/* Fix for popups in a toolbar */
.btn-toolbar > .popover + .btn {
    margin-left: 5px;
}

select {
    font-size: 12px; 
    padding: 0;
}

code {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

.well {
    padding: 0.615em;
    border-width: 0.077em;
}

.well > :first-child, .well > :first-child > :first-child {
    margin-top: 0;
}
.well > :last-child, .well > :last-child > :last-child {
    margin-bottom: 0;
}

/* TODO: Move to a viewlet within gs.content.css */

/* First the typeface: Helvetica, on an 18px grid */
/* 13px text on a 18px line */
/* <http://www.alistapart.com/articles/howtosizetextincss/> */


/* h4, h5, h6, and strong elements all look the same: 1u high and */
/* bold. The YUI code takes care of this.  */

/* Text  */
/* TOOD: move to a viewlet in gs.content.layout */

p, ul, ol, dl, fieldset, table, pre {
    margin: 1.385em 0; /* 1u */
}

h2 + :not(div), h3 + :not(div), h4 + :not(div), h5 + :not(div), h6 + :not(div), h2 + div :not(div), h3 + div :not(div), h4 + div :not(div), h5 + div :not(div), h6 + div :not(div) {
    margin-top: 0;
}

h3 {
    /* 13px line*/ 
    padding: 0 0 0.154em 0; /* + 2px padding = 15px */
    border-bottom: 0.231em solid #666666; /* + 3px border = 18px = 1u */
}

cite, em {
  font-style: italic;
}

blockquote {
    border-left: 3px solid #666666;
    padding-left: 0.462em;
    margin-left: 0.692em;
}

/* Less important information is grey */
.muted em, .muted strong {
  font-style: normal;
  color: #333333;
}

/* Text: Lists */
ul, ol {
  margin-left: 2.077em; /*1.5u*/
}
ul ol li {
  list-style:decimal outside;
}

ol ol li {
  list-style:lower-alpha outside;
}
ol ol ol li {
  list-style:lower-roman outside;
}
/* Remove the top and bottom margins for nested lists. */
ul ul, ul ol, ol ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  font-weight: bold;
  margin-top: 1.385em;
}
dl dd {
  margin-left: 1.385em;
}

/* Text: Tables */
td, th {
  padding: 0.692em; /*0.5u*/
  border: none;
}
/*TODO: Captions */
tbody th {
  /* Headings in the thead are centered (see Y!UI, above). */
  text-align: left;
}

/* Tabs Override */
.nav-tabs {
    margin: 0 0 1.385em 0;
    border-bottom: 0.231em solid #666666;
}
.nav-tabs > li {
    margin: 0 1.385em -0.231em 0; /* The bottom border width */
}
.nav-tabs > li > a {
    color: #ababab;
    padding: 0 0 0.462em 0;
    line-height: 1.385;
    border: none;
}
.nav-tabs > li > a:hover {
    color: #333333;
    border-color-bottom: #666666;
    background: none;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #333333;
  border-top: none;
  border-right: none;
  border-bottom: 0.462em solid #333333;
  border-left: none;
  padding-bottom: 0.231em;
}

/*********/
/* Forms */
/*********/
/* TOOD: Move to gs.content.form */
label {
  display: block;
  font-weight: bold;
  margin: 1.385em 0 0.692em 0;
}
input[disabled], 
select[disabled], 
textarea[disabled], 
input[readonly], 
select[readonly], 
textarea[readonly] {
    background: #dddddd;
}


.popup-help {
  float: right;
  width: 16.615em; /* 12u */
  z-index: 512;
  background: white;
}
.popup-help h3 {
  border-bottom: thin solid #333333;
  margin: 0;
}
.required label:before {
  content: '*';
}
.required label.radioLabel:before {
  content: '';
}

/* zope.formlib adds br elements between my radio buttons. Hack around */
/* this issue in the CSS. */
.form-widget .value br {
  display: none;
}

/* The submit button, which never reads "Submit". */
/* Like buttons in dialogs on Microsoft Windows and Apple MacOS X the */
/* buttons are right aligned. However, standard GroupServer practice is */
/* to only have one (1) button on the page. */
.buttons {
    clear: left;
    margin: 1.385em 0;
    text-align: right;
    position: relative; /* Create a new rendering context */
}
.buttons > * {
    display: inline-block;
}

.radioItem {
    margin-bottom: 0.692em;
}
.radioItem > * {
    display: inline-block;
}
input.radioType, label.radioLabel {
    margin: 0;
    font-weight: 200;
}

/*Messages at the top of forms*/
#form-message, .form-widget-message {
  padding: 0.692em;
}
#form-message {
  margin: 1.385em 0;
}
.form-widget-message {
  margin: 1.385em 0 1.385em 2.077em;
  padding: 0.692em;
  width: 33.231em;
}
#form-message .ui-icon, .form-widget-message .ui-icon {
  float: left;
  margin: 0 0.692em 0 0; 
}

/* WYMeditor */
/* The styling for the WYMeditor is *not* done here. It is done by a */
/* separate CSS that the WYMeditor loads */

/* GroupServer Page Layout */
/* TODO: move to 3 viewlets within gs.content.layout */

/* Main Layout for Site Homepage and Group Page */
/* page. T: title, U: utility links, B: body block, R: breadcrumbs, */
/* C: context viewlets, F: footer */
/*
/*   TTTTTTTTTTTTTT     UUUUUUU   */
/* .............................. */
/*   RRRR > RRRR > RRRR > RRRRR   */ 
/*                                */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/*   BBBBBBBBBBBBBBBBBBB CCCCCC   */
/* .............................. */
/*   FFFFFFFFFFFFFFFFFFFFFFFFFF   */

/* "Normal" page */
/* TTTTTTTTTTTTTTTT     UUUUUUUUU */
/* .............................. */
/* RRRR > RRRR > RRRR > RRRR      */ 
/*                                */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* BBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */
/* .............................. */
/* FFFFFFFFFFFFFFFFFFFFFFFFFFFFFF */

/* "Old" pages */
/* N: Context menu                */
/* TTTTTTTTTTTTTTTT     UUUUUUUUU */
/* .............................. */
/* RRRR > RRRR > RRRR > RRRR      */ 
/*                                */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* NNN BBBBBBBBBBBBBBBBBBBBBBBBBB */
/* .............................. */
/* FFFFFFFFFFFFFFFFFFFFFFFFFFFFFF */

body {
  text-align: center; /* HACK for IE. Bless it. */ 
}
#toparea {
  border-bottom: thick solid #cccccc;
  background: #eeeeee;
  height: 6.923em; /*5u (90px); orig 87px*/
}
/* Center the three main elements */
#titlebar, #bodyblock {
  position: relative; /* Create a new positioning context */
  margin: 0 auto 0 auto;
  width: 72.000em; /* 52u */
  text-align: left;
}

#titlebar-home-link {
  text-decoration: none;
  border: none;
  display: block;
  padding-top: 2.077em;
}
#titlebar .logo {
  display: none;
}
#titlebar .site {
  font: bold  278%/1 arial,helvetica,clean,sans-serif; /* 2u */
}

/* TODO: Move to wherever the utility-links viewlet will live */
#utilitylinks {
    margin: 0;
    padding: 2.769em 0 0 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    line-height: 2.077em;
}
#utilitylinks li {
    display: inline-block;
}
#utilitylinks .userimage {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 0.692em;
    max-height: 1.385em;
    overflow: none;
}
#utilitylinks-profile {
    font-weight: bold;
}
#utilitylinks-log-out:before {
    content: "\2022";
    color: #999999;
    padding: 0 0.692em;
}

/* Breadcrumbs (Where should this live?) */
#breadcrumbs * {
    display: inline-block;
}
#breadcrumbs ul {
    margin: 0.692em 0 0 0; 
}
#breadcrumbs li {
    list-style: none;
}
#breadcrumbs li:after {
    content: " \232A";
}
#breadcrumbs li:last-of-type:after {
    content: '';
}

/* The main block that contains the context navigation and the main */
/* page content. */
#contextnav {
  width: 12.462em;  /* 9u */
  position: absolute;
  top: 0;
  left: 0;
  margin: 1.385em 0;
}
#contextnav .label {
  border-top: thin solid #333333;
}
#contextnav .label, #contextnav a {
  padding: 0.692em 0 0.692em 1.385em;
}
#contextnav .label a {
  padding: 0;
}
#contextnav .label, #contextnav ul {
  margin:0;
}
#contextnav li, #contextnav a  {
  display: block;
}
#contextnav li {
  list-style-type: none;
  margin: 0;
}
#contextnav li li a {
  padding: 0.692em 0 0.692em 2.8em; 
}

#content {
  width: 55.385em; /* 40u */
  position: absolute;
  top: 0;
  right: 0;
}
/* Text Markup */
p.label {
  font-weight: bold;
  margin-bottom: 0.692em;
}
p.label + ul {
  margin-top: 0.692em;
}

.noFloat {
  clear: both;
}
div.noFloat {
  height: 0;
}

/* Columns */
/* TODO: Move to gs.content.layout */
.gs-content-layout-cols {
    position: relative; /* Create a new positioning context */
    margin-top: 1.385em;
}
.gs-content-layout-cols .main {
    position: relative;
    width: 45.692em; /*33u*/
    border-right: 0.077em solid #cccccc;
    padding: 0 3.467em 0 0; /*2.5u (NOT - border) */
}
.gs-content-layout-cols .secondary {
    position: absolute;
    top: 0;
    right: 0;
    width: 21.462em; /*15.5u*/
    padding: 0 0 0 1.308em;
    border-left: 0.077em solid #cccccc;
}
.gs-content-layout-cols > * > :first-child,
.gs-content-layout-cols > * > :first-child > :first-child {
    margin-top: 0;
}


/* More widget */
/* TODO: Move to gs.content.js.more */
.gs-content-js-more-content {
    overflow: hidden;
    transition: all 600ms ease;
}
.gs-content-js-more-content-small {
    max-height: 5.538em;
}
.gs-content-js-more-content-large {
    max-height: none;
}
.gs-content-js-more-buttons {
    position: relative;
    margin: 0;
    top: -1.385em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 255));
}

/* Text Markup: Inline Lists. Usually used for navigating between pages */
.inline-list, .dotted-inline-list, .comma-inline-list {
    margin-left: 0;
}
.inline-list li, .dotted-inline-list li, .comma-inline-list li {
    list-style: none;
    display: inline-block;
}
.inline-list li {
    margin-right: 0.692em;
}
.dotted-inline-list li:before {
    content: "\2022";
    color: #999999;
    padding: 0 0.692em;
}
.dotted-inline-list li:first-child:before {
    content: none;
}
.comma-inline-list li:after {
    content: ", ";
    color: #999999;
}
.comma-inline-list li:last-child:after {
    content: none;
}

/* Text Markup: labels for lists */
p.label {
    margin-bottom: 0;
}
p.label + ul {
    margin-top: 0;
}

/* Text Markup: The profile image, which appears everywhere. */
/* TODO: move to gs.profile.image */
/* */
.userimage {
    float: left;
    width: 4.154em;  /* 3u */
    height: 5.538em; /* 4u */
    padding: 0 0.692em 0.692em 0;
    background: #666666;
    overflow: hidden;
}
.userimage img {
    /* --=mpj17=-- Because I can */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* Text Markup: Disclosure Widget */
.disclosureButton {
  display: block;
  text-decoration: none;
}

/* Text Markup: Columns */
/* Two columns with a 2u gap */
#content .leftColumn, #content .rightColumn {
  width: 26.308em; /* 19u */
}
/* Two columns with a 1.5u gap */
#divisionHomeContent .leftColumn, #divisionHomeContent .rightColumn {
  width: 34.615em; /* 25u */
}
.leftColumn {
    float: left;
}
.rightColumn {
    float: right;
}

/* Text Markup: SHOUTING TEXT */
.allupper {
  font-family: serif;
}
/*********/
/* Icons */
/*********/
/* GroupServer uses CSS sprites to show the icons. The central icon */
/* file holds *all* the icons. To show different images the background */
/* is moved up and down, so a different part of the image is visible */
/* in the 1u gap. */
/* http://www.smashingmagazine.com/2009/04/27/the-mystery-of-css-sprites-techniques-tools-and-tutorials/ */

/* Links: URLs that link to different things.*/
code.url, .alternateATOM, .email, .pdflink, .fileIcon {
  display: inline-block;
  padding-left: 1.385em;
  line-height: 1.385; 
  background: transparent url("/++resource++icons.png") no-repeat scroll;
}
code.url {
  background-position: 0 -16px;
}
.email {
  background-position: 0 -80px;
}
.alternateATOM {
  background-position: 0 -48px;
}
/* File icon sprites. */
.fileIcon {
  width: 16px; /* These are images, so I switch to px */
  height: 16px;
  margin: 0; 
  padding: 2px; /* 16px + 2px = 1u */
  text-decoration: none;
  border: none;
}
.fileIcon {
  /* Default file icon */
  background-position: 0 -112px;
}
.ascii, .text, .text-richtext, .text-x-generic, .text-x-generic-template,
.text-x-log, .text-plain {
  /* Plain text */
  background-position: 0 -144px;
}
.text-html, .application-xhtml-xml, .application-xml, .html, .text-html,
.text-vnd-wap-wml, .text-xml  {
  /* Web */
  background-position: 0 -176px;
}
.video-x-generic {
  /* Video */
  background-position: 0 -208px; 
}
.application-x-perl, .application-x-php, .application-x-python-bytecode,
.application-x-shellscript, .application-x-shockwave-flash,
.application-xslt-xml, .application-xslt+xml, .shellscript, .text-x-csh,
.text-x-python, .text-x-script, .text-x-sh, .text-x-zsh
{
  /* Script */
  background-position: 0 -240px;
}
.application-x-tex, .text-x-bibtex, .text-x-tex {
  /* TeX */
  background-position: 0 -272px;
}
.application-x-7z-compressed, .application-x-archive,
.application-x-arj, .application-x-bzip-compressed-tar,
.application-x-bzip, .application-x-compressed-tar, .application-x-compress,
.application-x-cpio-compressed, .application-x-cpio, .application-x-deb,
.application-x-gzip, .application-x-jar, .application-x-lha, 
.application-x-lhz, application-x-stuffit, .application-x-tar,
.application-x-tarz, .application-x-zip-compressed, .application-zip,
.application-x-rar, .application-x-rpm, .deb, .folder_tar, .gnome-package,
.plan, .package_editors, .package, .package_wordprocessing, 
.package-x-generic, .rpm, .tar {
  /* Compressed */
  background-position: 0 -304px;
}
.application-ogg, .audio, .audio-x-generic, .audio-mpeg, .audio-x-wav, .audio-x-mpeg {
  /* Audio/Sound */
  background-position: 0 -336px;
}
/* word-processor: -3698px */
.image-png, .application-vnd-oasis-opendocument-image, .image-bmp,
.image-gif, .image-jpeg, .image-pjpeg, .image, .image, .image-svg-xml,
.image-svg+xml, .image-tiff, .image-x-generic, .image-x, .image-x-xpixmap {
  /* Images */
  background-position: 0 -400px;
}
.application-x-executable, .application-x-ms-dos-executable, .exec, 
.gnome-fs-executable  {
  /* Executable */
  background-position: 0 -432px;
}
/* skip 5 */
.application-magicpoint, .application-vnd-ms-powerpoint, 
.application-vnd-oasis-opendocument-presentation, 
.application-vnd-oasis-opendocument-presentation-template,
.application-vnd-oasis-opendocument-text-web, 
.application-vnd-stardivision-impress, .application-x-kpresenter {
  /* Presentation */
  background-position: 0 -624px;
}
.application-msexcel, .application-vnd-lotus-1-2-3, .application-vnd-ms-excel,
.application-vnd-oasis-opendocument-spreadsheet, 
.application-vnd-oasis-opendocument-spreadsheet-template, 
.application-vnd-openxmlformats-officedocument-spreadsheetml-sheet, 
.application-vnd-stardivision-calc, .application-vnd-sun-xml-calc,
.application-vnd-sun-xml-calc-template, .application-vnd-sun-xml-calc,
.application-vnd-sun-xml-calc-template, .application-x-applix-spreadsheet,
.application-x-applix-spreadsheet, .application-x-gnumeric, 
.application-x-msexcel, .application-x-kspread, 
.text-x-comma-separated-values, .x-office-spreadsheet, 
.x-office-spreadsheet-template
 {
  /* Spreadsheet*/
  background-position: 0 -656px;
}
.application-vnd-ms-publisher, .application-vnd-oasis-opendocument-graphics,
.application-vnd-oasis-opendocument-graphics-template, .application-vnd-sun-xml-draw,
.application-vnd-sun-xml-draw-template, .application-x-killustrator,
.x-office-drawing, .x-office-drawing-template, .x-office-presentation,
.x-office-presentation-template {
  /* Drawing and publishing */
  background-position: 0 -688px;
}
.x-office-document, .application-ms-tnef, .x-office-document-template {
  /* Generic Office Document */
  background-position: 0 -608px;
}
/* Skip 2\ldots */
.application-msword, .application-rtf, .application-vnd-lotus-wordpro, 
.application-vnd-ms-word-document-macroEnabled-12, 
.application-vnd-oasis-opendocument-text, 
.application-vnd-oasis-opendocument-text-template, 
.application-vnd-openxmlformats-officedocument-wordprocessingml-document,
.application-vnd-sun-xml-impress, .application-vnd-sun-xml-impress-template
.application-vnd-stardivision-writer, .application-vnd-sun-xml-writer,
.application-vnd-sun-xml-writer-template, .application-wordperfect,
.application-x-abiword, application-x-applix-word, .application-x-abiword,
.application-x-applix-word, .application-x-kword {
  /* Wordprocessor */
  background-position: 0 -815px;
}
.text-x-vcalendar, .text-x-vcard, .x-office-address-book, 
.x-office-calendar {
  /* VCard and Calendar */
  background-position: 0 -848px;
}
/*Skip 1\ldots*/
.application-x-font-afm, .application-x-font-bdf, 
.application-x-font-linux-psf, .application-x-font-pcf, 
.application-x-font-sunos-news, .application-x-font-ttf, .font-x-generic,
.x-font-afm {
  /* Font */
  background-position: 0 -912px;
}
/*Skip 1\ldots*/
.application-pdf, .pdflink {
  background-position: 0 -976px;
}
.application-certificate {
  background-position: 0 -1008px;
}
.application-postscript, .application-x-dvi {
  background-position: 0 -1039px;
}
/*End of icons */

/************************/
/* Page-specific styles */
/************************/

/* Site Homepage */
/*****************/

#gs-login-easy-login {
  padding: 0.692em;
  margin: 0 0 1.385em 0;
}

#gs-login-easy-login .textType {
  width: 27.692em; /* 20u */
}

#gs-login-easy-login .buttons {
  margin-bottom: 0;
}

#gs-group-home h1 {
    margin-bottom: 0;
}
#gs-group-home-stats p {
    margin-top: 0;
}

/* About box on the Group page */
/* TODO: Move to gs-group-about */
#gs-group-about {
    position: relative;
}
#gs-group-about-change-link {
    position: absolute;
    top: 0;
    right: 0;
}

#gs-group-about-tab-intro-buttons {
    text-align: right;
}
#gs-group-about-tab-intro .gs-content-js-more-content > p {
    margin-top: 0;
}

/* The Recently Active members list */
/* TODO: move to gs.group.member.active */
.gs-group-member-active-members-member {
    position: relative; /* Create a new positioning context */
    margin: 0 0 0.692em 0;
}
.gs-group-member-active-members-member .userimage {
    padding: 0;
    float: none;
    max-width:  2.769em; /* 2u */
    max-height: 2.769em;
    overflow: hidden;
    /*max-height: 4.154em;*/ /* 3u */
}
.gs-group-member-active-members-member .fn {
    position: absolute;
    top: 0;
    left: 3.467em; /* 2.5u */
    font-weight: bold;
}
#gs-group-member-active-stats {
    border-top: 1px solid  #dddddd;
    margin: 0.692em 0 1.385em 0;
    padding: 0.615em 0 0 0; /* 0.5u - 1px */
}

/* Search */
/**********/
/* TODO: move to gs.search.base */

/* The search entry box */
.gs-search-entry input {
  width:  27.692em;
  margin-left: 0;
  display: inline-block;
}

/* The Loading message */
.gs-search-loading img {
  margin: 0 0.692em 0 0;
  padding:0;
}

/* The results */
.searchResults {
  margin: 1.385em 0 0 0;
}
.searchResults .tags li {
    margin: 0;
}
.searchResults .tags li a {
    color: #666666;
}
/*Sticky-topic icons need the .gs-search to over-ride the .ui-icon config */
.gs-search .gs-search-sticky {
  display: inline-block;
}
.gs-search-results .gs-search-result {
    border-bottom: 0.077em solid #dddddd;
    padding-bottom: 1.308em;
    margin-bottom: 1.385em;
    list-style: none;
    min-height: auto;
}
.gs-search-keyword {
  text-decoration: none;
}

/* The Next and Previous buttons */
.gs-search-toolbar > span {
  padding: 0.9em 0.2em; /*Similar to padding set by jQuery.ui*/
}


/* Topic Search */
/****************/

/* The number of posts is shown in a speech balloon. The balloon is made of */
/* two parts: the number in the balloon and a tail. */
/* Thanks to <http://cssarrowplease.com/> and  */
/*  <http://nicolasgallagher.com/pure-css-speech-bubbles/demo/> */
/* The bubble */
.gs-search-result .postCount {
    color: #666666;
    background: #dddddd;
    font-size: 10px;
    line-height: 1;
    /* 1px == 0.1em */
    padding: 0.1em 0.8em;
    text-decoration: none;
    border: 0.1em solid #dddddd;
    border-radius: 0.3em;
    display: inline-block;
    position: relative;
    top: -0.2em;
}
/* The tail */
.gs-search-result .postCount:after {
    position: absolute;
    top: 100%;
    left: 0.6em; /* 6px */
    content: " ";
    width: 0; 
    height: 0;
    border: none;
    border-left: 0 solid transparent;
    border-right: 0.9em solid transparent;
        
    border-top: 0.6em solid #dddddd;
}

#gs-group-messages-topics-search-form {
    position: relative;
}
#gs-group-messages-topics-search-form-new-topic {
    position: absolute;
    right: 0;
}
.gs-search-result .files {
    margin-left: 0.389em;
    border: none;
    display: inline-block;
    height: 1.385em;
}
.gs-search-result .files .value {
    font-size: 10px;
    line-height: 1.8;
    display: inline-block;
    position: relative;
    top: -0.2em; /* 2px */
}

#gs-group-home .main .gs-search .gs-search-toolbar {
    position: relative;
    text-align: center;
}
#gs-group-home .main .gs-search-toolbar-previous {
    position: absolute;
    left: 0;
}
#gs-group-home .main .gs-search-toolbar ul {
    display: inline-block;
    margin: 0 auto 0 auto;
    line-height: 2.077; /* 1.5u, the same height as the buttons */
}
#gs-group-home .main .gs-search-toolbar-next {
    position: absolute;
    right: 0;
}

/* Messages */
/************/

/* Messages: Post, both in a topic, on the posts page, or by itself. */
/* TODO: move to gs.group.messages.post
/* PPP MMMMM EEEEEEEEEEEEEEEEE */
/* PPP MMMMM EEEEEEEEEEEEEEEEE */
/* PPP       EEEEEEEEEEEEEEEEE */
/* PPP AAAAA EEEEEEEEEEEEEEEEE */
/*           EEEEEEEEEEEEEEEEE */
/*           EEEEEEEEEEEEEEEEE */
/*           RRRRRRRRRRRRRRRRR */
/*           RRRRRRRRRRRRRRRRR */
/*           RRRRRRRRRRRRRRRRR */
/*           FFFFF             */
/*           FFFFF             */
/*           FFFFF             */

/* P: photo (3u by 4u); M: metadata (12.5); A: Actions; E: email (35.5u); */
/* R: remainder; F: files. 0.5u gap seperates the three vertical columns. */

.hentry {
    position: relative;
    border-bottom: 0.077em solid #333333;
    margin: 0;
    padding: 0 0 1.385em 0;
    min-height: 6.923em; /* 5u */
}
#gs-group-messages-topic-page-content .hentry:last-child {
    border-bottom: 0.231em solid #666666;
    padding: 0 0 1.154em 0;
}

.hentry .userimage, .email-metadata {
    position: absolute;
    top: 1.385em;
}
.hentry .userimage {
    padding: 0;
}
.email-metadata {
    left: 4.846em; /* 3u for the photo, and 0.5u gap */
    width: 17.308em;  /* 12.5u */
    text-overflow: ellipsis;
}
.email-metadata > * {
    display: block;
}
.email-metadata abbr {
  border: none;
}
.email-metadata .topic {
  display: none;
}
.gs-group-messages-post-buttons {
    margin: 1.385em 0 0 0;
}

.hentry .email-message, .hidden-post {
    position: relative;
    left: 22.846em;
    width: 49.154em; /* 35.5u */
    padding: 1.385em 0 0 0; 
}
.hentry pre {
    font-family: inherit;
    text-overflow: ellipsis;
}
.hentry .entry-content, .hentry .email-remainder, .hentry .fileNotification, 
.hidden-post {
    width: 49.154em; /* 35.5u */
}
.hentry .entry-content, .hidden-post > p {
    margin: 0;
}
.email-remainder p {
    margin: 1.385em 0 0 0;
}
.email-remainder pre {
    margin: 0;
}

/* File list at the bottom of a post. */
.hentry .fileNotification {
    margin: 1.385em 0 0 0;
    padding: 1.308em 0 0 0;
    border-top: 0.077em solid #dddddd;
    vertical-align: top;
}
.hentry .fileNotification > * {
    display: inline-block;
}
.hentry .normalFileList {
    vertical-align: top;
    margin: 0;
}
.normalFileList + .mediaFileList .hmedia {
    margin: 0 0 1.385em 1.385em;
}
.mediaFileList .hmedia {
    margin: 0 0 1.385em 0;
    display: inline-block;
    max-width: 15.231em; /* 11u */
    vertical-align: top;
}
.mediaFileList .hmedia + .hmedia {
    margin: 0 0 1.385em 1.385em;
}
.mediaFileList .hmedia img {
    max-width: 15.077em; /* 196px: 11u - 2px for the border*/ 
    max-height: 15.077em; 
    border: 0.077em solid #eeeeee;
}
.mediaFileList .hmedia .info {
    margin: 0.692em 0 0 0;
}

/* The single post page */
.gs-group-messages-post-navigation {
    position: absolute;
    right: 0;
}
#gs-group-messages-post .hentry  {
    margin-bottom: 0.692em;
}
.hentry + .gs-group-messages-post-navigation {
    position: static;
}
#gs-group-messages-post .hentry {
  border-top: medium solid #666666;
  border-bottom: thin solid #333333;  
}

/* Messages: The Hide a Post UI */
/* TODO: move to gs.group.messages.post.hide */
#hide-the-post {
    text-align: left;
}

/* Messages: Share bar. Widgets to share a topic or post */
/* TODO: move to gs.share */
.share-bar {
  display: -moz-inline-stack;
  display: block; /* Hiding the share bar for now */
}
.share-widgets a, .share-widgets span {
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
  display: -moz-inline-stack;
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: transparent url("/++resource++icons.png") no-repeat scroll;
  margin: 0 2px;
}
span.email-share {
  background-position: 0 -16px; /* Globe, not email */
}
a.twitter-share {
  background-position: 0 -1744px;
}
a.fb-share {
  background-position: 0 -1776px;
}
a.digg-share {
  background-position: 0 -1808px;
}

.full-share-help {
    margin: 1.385em 0 0.689em 0;
}
.full-share-entry {
    margin: 0.692em 0 0 0;
}
.full-share-entry input {
    width: 100%;
    margin: 0;
}

/* TODO Move to a sane place */
.ui-widget-content {
    text-align: left;
}

/* Topic: The work-horse page of GroupServer, the Topic page displays */
/* all the posts in a topic, and an Add to Topic form to group members. */
/* TODO: Move to gs.group.messages.topic */
/*                                */
/* BBB > BBBB > BBB               */
/* Topic title                    */
/*                                */
/* UUUUUUUUUUUUU   SSSS TTTT NNNN */
/* UUUUUUUUUUUUU                  */
/*                                */
/* Posts (gs.group.message.post)  */
/*                                */
/* NNNN         FFFFFFFFFFFFFFFFF */
/*              FFFFFFFFFFFFFFFFF */
/* B: Breadcrumbs; U: Topic summary; S: Share button; T: Sticky button; */
/* N: Navigation; F: Form or Cannot Post message */

#gs-group-messages-topic-title cite {
    font-style: normal;
    font-weight: bold;
}

#gs-group-messages-topic-tasks {
    float: right;
    margin: 0.692em 0 0 0;
}

.modal + .gs-group-messages-topic-navlinks {
    position: relative;
    top: 0.692em;
}
.modal + .gs-group-messages-topic-navlinks .btn {
    margin-top: 1.385em;
}
#gs-group-messages-topic-admin-stickytoggle button {
    transition-property: width;
    transition-duration: 250ms; /* A guess at the ping-distance */
}
#gs-group-messages-topic-admin-stickytoggle button.disabled {
    width: 5.538em; /* Set the width to 4u by CSS so there is a transition */
}

/* Topic summary */
#gs-group-messages-topic-summary {
    margin: 0.692em 0;
}
#gs-group-messages-topic-summary-simple {
    margin: 0;
}
#gs-group-messages-topic-summary-simple li {
    display: inline-block;
}
#gs-group-messages-topic-summary-simple li + li:before {
    content: "\2022 ";
}
#gs-group-messages-topic-summary-keyowords * {
    display: inline-block;
    margin: 0;
}

.postList {
  margin: 1.154em 0 0 0; /* 1u - 3px border */
  border-top: 0.231em solid #666666;
}

#topic-index caption {
  display: none;
}

#hide-the-post + .navlinks {
    position: absolute;
    margin: 1.385em 0;
}

/* The Add to Topic form at the bottom of the page */
#gs-group-messages-topic-cannotadd, #add-to-topic {
    width: 49.154em; /*35.5u*/
    position: relative;
    left: 22.846em; /* 16.5u */
    top: -2.077em; /* 1.5u */
}
#add-to-topic h2 {
    margin-top: 0;
}
#add-to-topic .userimage {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 0.692em;
    height: 1.385em;
    overflow: hidden;
}
#add-to-topic #widget-form\.message label {
    display: none;
}
#add-to-topic #form\.message {
    margin: 0;
    padding: 0.615em;
    width: 47.768em; /* 33.5u */
}
#gs-group-messages-topic-add-from {
    vertical-align: top;
    margin: 0 0 0.692em 0; /* 16px, because of the height of the select */
}
#gs-group-messages-topic-add-from * {
    display: inline-block;
    margin: 0;
    width: auto;
}
#gs-group-messages-topic-add-from option {
    display: block;
    margin: 0;
}
#gs-group-messages-topic-add-privacy-summary {
    display: inline-block;
    margin-right: 1.385em;
    cursor: pointer;
}


/* The Multi File plugin for jQuery at the bottom of the Add to Topic form */
.gs-group-messages-topic-add-file {
    position: relative;
    margin-top: 0.692em;
}
#gs-group-messages-topic-add-file-label {
    position: absolute;
    margin: 0;
}
#gs-group-messages-topic-add-file-files {
    padding: 0 0 0 4.154em;
}

.MultiFile-wrap input {
    margin: 0;
}
.MultiFile-label {
    margin: 0.692em 0;
}
.MultiFile-remove {
    margin: 0 0.692em 0 0;
}
.MultiFile-remove abbr {
    text-decoration: none;
    border: none;
}

/*********/
/* Posts */
/*********/
/* An obscure page, a bit like a topic, but not */

#gs-group-messages-posts-page .nav {
    position: absolute;
    right: 0;
    margin: 0;
}
#gs-group-messages-posts-page .hatom {
    margin-bottom: 1.385em
}
#gs-group-messages-posts-page .hatom + .nav {
    position: static;
}

#gs-group-messages-posts-page .entry-title {
    display: block;
}
#gs-group-messages-posts-page .entry-title:before {
    content: "Post in ";
    color: #999999;
}
#gs-group-messages-posts-page .gs-group-messages-post-buttons {
    margin-top: 0;
}
#gs-group-messages-posts-page .hide-button {
    display: none;
}

/***********/
/* Profile */
/***********/
.cols h2 {
  margin-top: 0;
}

/******************/
/* Group Homepage */
/******************/

/* UUUUUUUUUUUUUUUUUU */
/* U H2 PPPPPP AAAA U  */
/* UUUUUUUUUUUUUUUUUU */

/* IIIIIIII  TTTTTTTT */
/* IIIIIIII  TTTTTTTT */
/* IIIIIIII  TTTTTTTT */
/* IIIIIIII  TTTTTTTT */
/* U: Us Bar; P: user photos, A: Us Bar tasks, I: Info Tabs, T: Task */
/* Tabs*/

#us-bar {
  margin: 1.385em 0;
  height: 4.846em; /* 3.5u */
  padding: 0.692em;
  background-image: none;
  background: white;
}
#us-bar h2, #us-photos, #us-tasks {
  float: left;
  margin: 0;
  padding-right: 1.385em;
}
#us-photos a {
  display: inline-block;
  width: 3.462em;
  height: 4.846em;
  background: #999;
}
#us-photos img {
  height: 4.846em;
}
#us-tasks ul {
  font-weight: normal;
  margin-top: 0;
}
.ui-tabs .ui-tabs-hide {
  display: none;
}
/**********/
/* Search */
/**********/
/* Search Lists: Topic, Post, and File */
/* Lists of search results used by the group homepage, the site homepage, */
/* profile page and the search page. */
/* TODO: Move to gs.search.base */

.searchResults .fileResult .fileIcon, .fileMetadata .fileIcon, #topicsSummary .fileIcon {
  margin: 0;
  padding: 0;
}
.searchResults .topic, .searchResults .fileName {
  display: inline-block;
  font-weight: 900;
}
.searchResults .topic {
  margin-right: 1em;
}
.searchResults .figure {
  margin: 0.692em 0 0.692em 1.385em;
}

/* Search Page */
#searchInput {
  margin: 1.385em 0 2.769em 0;
}
#searchInput input {
  margin: 0 1.385em 0 0;
  display: inline-block;
}
#searchInput .button {
  padding: 0 0.692em;
}
.searchResults .disclosureWidget {
  margin-left: 1.385em;
}
.refineButton {
  margin: 0.692em 0 0 0;
}
.refinement {
  margin: 0 0 0 1.385em;
}
.refinement li {
  margin: 0;
  clear: both;
}  

/* TODO: move to gs.group.messages.files */
#gs-group-messages-files {
    text-overflow: ellipsis;
}
#gs-group-messages-files .gs-search-results {
    border-bottom: 0.077em solid #dddddd;
}
#gs-group-messages-files .gs-search-result {
    position: relative;
    border: none;
    padding: 0;
}
#gs-group-messages-files .gs-search-result img {
    max-height: 2.769em; /* 2u */
    max-width: 2.769em;
    overflow: none;
    position: absolute;
    left: 0;
    top: 0;
}
#gs-group-messages-files .gs-search-result div {
    padding-left: 3.467em; /* 2.5u */
    text-overflow: ellipsis;
}

/* Posted Image Page */
/* TODO: move to gs.group.messages.image */
/* Because people forget to scale images before posting, GroupServer */
/* resizes the image before displaying it on the Image Page. Besides */
/* the image the Image Page shows some Metadata associated with the */
/* posted file. */
.gs-group-messages-image-navlinks {
    position: absolute;
    right: 0;
}
.gs-group-messages-image .scaled-image {
    position: relative;
    border-top: 0.231em solid #666666;
    border-bottom: 0.231em solid #666666;
    padding: 1.154em 0;
    margin: 0 0 1.385em 0;
}
.gs-group-messages-image .metadata > * {
    position: absolute;
    top: 1.154em;
    left: 0;
}
.gs-group-messages-image .metadata .userimage {
    padding: 0;
}
.gs-group-messages-image .metadata ul {
    position: absolute;
    left: 4.846em; /* 3u for the photo, and 0.5u gap */
    width: 17.308em;  /* 12.5u */
    top: 1.154em;
    margin: 0;
    list-style: none;
}
.gs-group-messages-image .metadata .gs-group-messages-image-buttons {
    position: absolute;
    left: 4.846em; /* 3u for the photo, and 0.5u gap */
    top: 4.615em;
}
#gs-group-messages-image-share {
  margin: 1.385em 0 0 0;
}
.gs-group-messages-image .preview {
    display: block;
    position: relative;
    left: 22.846em;
    width: 49.154em; /* 35.5u */
}
.gs-group-messages-image .preview img {
    border: 0.077em solid #eeeeee;
}
.gs-group-messages-image .enclosure {
    margin: 0.615em 0 0 0;
}
.gs-group-messages-image .scaled-image + .gs-group-messages-image-navlinks {
    left: 0;
}

/* Invitations Pages */
.group-invitation p {
  margin-left: 1.385em; 
}
.group-invitation ul {
  margin-left: 3.47em;
}
.group-invitation fieldset {
  padding-left: 0;
  margin-left: 1.385em;
}

/* Login */
#login-form .textType{
  height: auto; /* I do not know why I have to do this */
}

/* Content Manager */
/*Content Manager: Change Privacy*/
/* The Change Privacy page for the content manager is in two columns. */
/* However, this throws out the column-code. So, I lay this page out */
/* manually. */
#changeprivacy .rightColumn .value {
  margin-top: 2.769em;
}

/* Manage Members */
/* The Manage Members page is a complex beast. Essentially a form, it */
/* is a *huge* form. */
#manage-members .navlinks {
  display: inline;
}      
#manage-members .statusActions {
  position: relative;
  border-top: thin solid #333333;
  border-bottom: thin solid #333333;
  padding-bottom: 1.385em;
  padding-left: 0.692em;
  overflow: hidden;
}
#manage-members .userimage {
  position: absolute;
  float: none;
  top: 0;
  right: 0;
  padding: 1.385em;
}
#manage-members .radioItem {
  margin: 0.692em 0;
}
#manage-members .statusActions h3 {
  padding-right: 6.923em; /* 5u gap for the profile photo */
}

/* Members List */
#gs-group-member-list li.vcard {
  display: inline-block;
  width: 18.000em; /*13u*/
  height: 2.769em; /* 2u*/
  margin: 1.385em;
}
#gs-group-member-list li.vcard img {
  height: 2.769em;
}
#gs-group-member-list .vcard li {
  list-style: none;
}
#gs-group-member-list .photo {
  width:  2.077em; /* 1.5u */
  height: 2.769em; /* 2.0u */
  padding: 0;
  display: inline-block;
  float: left;
  background: #999;
}
#gs-group-member-list .vcard ul {
  margin-left: 2.769em;
}

/* Sign Up */
/* In place of a context-navigation menu a progress-menu is shown for */
/* sign up. */
#signup-progress li {
  list-style: none;
  padding-left: 2.077em;
}
#signup-progress .done:before {
  content: "\2713 "; /*A check box*/
}
#signup-progress .current {
  font-weight: bold;
}
#signup-progress .current:before {
  content: "\2023 "; /*A triangle*/
}
#signup-progress .done {
  padding-left: 1.385em;
}
#signup-progress .current {
  padding-left: 0.692px;
}

/* Invitations */
#invite-message-preview-button {
  padding: 0.692em; 
  margin: 1.385em 0;
  cursor: pointer;
}
/* Invite by CSV */
#gs-group-member-invite-csv select {
  margin: 0 0 1.385em 1.385em;
}

/* View Profile: Membership List */
#gs-profile-view #membership ul {
  margin: 1.385em 0;
}
#gs-profile-view #membership li {
  list-style: none;  
}
#gs-profile-view #membership a, #gs-profile-view #membership .current {
  display: block;
  padding: 0.692em 0;
  margin: 1.385em 0 0 0;
}
#gs-profile-view #membership .current {
  border-top: thin solid #333333;
  border-right: thin solid #333333;
  border-bottom: thin solid #333333;
}
#gs-profile-view #membership .manage {
  padding: 0;
  margin: 0 0 0 1.385em;
}
#gs-profile-view #siteMembership {
  border-left: 0.692em solid #333333;
}
#gs-profile-view #siteMembership a, #gs-profile-view #siteMembership .current {
  padding: 0.692em;
}

#gs-profile-view #membership .rightColumn,  #gs-profile-view #membership .leftColumn{
  margin: 1.385em 0;
}
#gs-profile-view #groups h2 {
  margin: 0 0 0.692em 0; /*0.5u*/
}
#gs-profile-view #siteMembership h2 {
  margin: 0 0 0.692em 0.692em; /*0.5u*/
}

/* Group Member Log */
/* The group-member log lists when the members joined and left the */
/* group. The list of members has the bullet replaced with a + or - */
/* as appropriate. To switch between the All, Join and Leave tabs the */
/* class of the list is changed, and this triggers the different CSS */
/* rules to be evoked. */
#gs-group-member-log #tabbody {
  clear: left;
}
#gs-group-member-log .join-event, .leave-event {
  list-style: none;
}
#gs-group-member-log li.join-event:before {
  content: "+ ";
  font-weight: bold;
  font-size: 138.5%;
}
#gs-group-member-log li.leave-event:before {
  content: "\2212  "; /* Hex Code for the minus sign &#8722; */
  font-weight: bold;
  font-size: 138.5%;
}
#gs-group-member-log .join .leave-event {
  display: None;
}
#gs-group-member-log .leave .join-event {
  display: None;
}

/* Change Site Greeting Page */
#gs-greeting-changegreeting #preview {
  margin: 1.385em 0 0 1.385em;
}
#gs-greeting-changegreeting li {
  list-style: none;
  margin-bottom: 0.692em;
}

/* Error Pages */
/* The technical message goes at the end of the page. It is mostly */
/* there for developers, so it is de-emphasized. */
#technical {
  padding: 0.692em 0;
  border-top: thin solid #999;
  color: #999;
}

/* Profile: Email Settings*/
#gs-profile-email-change .change select, #gs-profile-email-change .change input {
  display: inline;
  width: auto;
}
#gs-profile-email-change .change input {
  padding: 0 0.692em;
}

/* Colour is for happy people */
a, a:hover, a:visited {
  color: inherit;
  text-decoration: none;
}

/*  Small-screen browsing, for phones (iPhone). The main three pages
  * that are handled by this CSS are the site homepage, group page,
  * and the Topic page. */
/* TODO: Break up. */
@media screen and (max-width: 960px) {
  /* The main job of the small-screen CSS is to hide stuff */
  #mainnav, #externalbar, #searcharea, #contextnav, #gs-group-messages-topic-admin-stickytoggle, .share-bar, .hide-button, .popup-help *, #us-bar h2 {
    display: none;
  }
  /* And make other stuff wider */
  #toparea, #titlebar, #titlebanner, #bodyblock, #content, .hentry .entry-content, .hentry .email-remainder, .hentry .fileNotification {
    width: auto;
    position: relative;
    left: 0;
  }
  #titlebanner, #mainnav, #bodyblock {
    margin-top: 0;
  }
  
  /*  The top area is smaller, without search nor menus. It is in 
   *  reverse-colours so it is seperated out from the rest of the 
   *  page. */
  #toparea, #titlebar a {
    color: white;
    background: #333333;
  }
  
  #titlebar .division, h1 {
    margin: 0 0 0 0.250em; /* 0.692em / 2.769 = 0.5u */
  }
  h2 {
    margin: 0 0 0 0.333em; /* 0.692em / 2.077 = 0.5u */
  }
  h3 {
    margin: 0 0 0 0.450em; /* 0.692em / 1.385 = 0.5u */
  }
  h4, h5, p, pre, .email-metadata, .hentry .fileNotification {
    margin: 0 0 0 0.692em; /* 0.5u */
  }
  
  /* Group Homepage */
  #us-photos li, .searchResults .tags li {
    padding: 0;
  }
  #us-tasks {
    position: absolute;
    right: 0;
  }
  
  .cols .leftColumn {
    margin-top: 1.385em;
  }
  
  /*  Make the navigation links wider, so they are easier for fingers 
   *  to hit. The background does not work then, so replace the arrows
   *  with Unicode characters. */
 .navlinks, .postList {
    margin: 0;
    padding: 0;
 }
 .navlinks li {
    padding: 1.385em 0;
    margin: 0;
   }
  .navlinks a, .navlinks span, .navlinks .next, .navlinks .last, .navlinks .first, .navlinks .prev {
    padding: 1.385em 0.692em;
    background: none;
  }
  .navlinks .prev:before {
    content: "\0021D0\ ";
  }
  .navlinks .up:before {
    content: "\0021D1 ";
  }
  .navlinks .next:after {
    content: " \0021D2";
  }
  
  /* Topic page */
  .email-metadata {
    margin-bottom: 1.385em;
  }
  input, select, textarea, label {
    margin-left:  0.692em;
  }
  .hentry .userimage {
     left: auto;
     top: 0;
     right: 0;
     width: auto;
     height: auto;
     padding: 0;
  }
  .posted {
    display: block;
    position: relative;
    top: 0;
    left: 0;
  }
  .hentry .userimage img {
    height: 4.154em; /*3u*/
  }
  .hentry .entry-content {
    width: auto;
  }
  
  input.textType, input.fileType, select {
    width: 22.154em; /*16u*/
  }
  textarea {
    width: 90%; /* Hack */
  }
  .hentry .entry-content {
    white-space: pre-wrap;
  }

  /*Image page*/ 
  .image h1 {
    width: auto;
    overflow-x: hidden;
  }
  .image h1 code {
    white-space: pre;
  }
  .image .metadata {
    position: static;
    width: auto;
    margin: 0 0.692em 1.385em 0.692em;
  }
  .image img {
    width: 100%;
  }
  .image .metadata .photo {
    padding-left: 0.692em;
  }
  
  /* Site Homepage */
  #page- #latestTopics {
    padding-left: 0.689em;
  }
}

#signupmethods .odd, #signupmethods .even {
        border-top: 1px #999999 solid;
        background-color: #fefefe;
        padding-top: 1.378em;
        padding-bottom: 1.378em;
}

#signupmethods .even {
        margin-top: 1.378em;
}
#signupmethods {
        border-bottom: 1px #999999 solid;
        margin-bottom: 0.689em;
        margin-top: 0.689em;
}

#signupmethod-email {
        padding-left: 1.387em;
}

